 .loginscreen.middle-box {
        width: 50%;
    }
    .middle-box{
        max-width: 100% !important;
        margin-top: -5%
    } 
    

    .login {
        width: 100%;
        margin-top: 15%;
        
    }


    .ibox {
        margin-top: 15px;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 0px;
        border-radius: 10px;
        margin-bottom: 10px;
        
    }

    .ibox-content{
        border-top: 5px solid #fd7e14;
        border-bottom: 2px solid #fd7e14;
        border-radius: 10px;
        padding: 0px 20px 20px 15px;
        
    }
    .slide{
        padding-right: 0px;
        padding-left:0px;
        box-shadow: 0px 1px 5px #999999;
        
    }
    .carousel-indicators {
        bottom: 0%;
    }
    .carousel-indicators li {
        border: 1px solid #fd7e14;
    }
    .carousel-indicators .active {
        background-color: #2d4a84;
        
    }
    .b-l {
        border-left: 1px solid #e7eaec;
        
    }
    .header{
        padding-right: 15%;
        padding-left: 15%;
        margin-bottom: 1%;
        text-align: center;
    }
    .title{
        padding-right: 5%;
        margin-top: 2%;
        
    }
    .logo{
        padding-left: 2%;
        text-align: center;
    }
    .header-icons{
        float: left;
    }
    .header-icons a img{
        padding-bottom: 5px;
        padding-left: 10px;
        text-align: center;
    }
    .login h7 {
        color: #2d4a84;
        font-weight: 1000;
        font-size:  19px; 
        
    }
    .login h2 {
        color: #2d4a84;
        font-weight: 600;
        font-size: 18px;
        
    }
    .login h3 {
        margin-top: 10px;
        font-weight: 600;
        color: black;
    }
    .footer-content{
        color: black;
        border-top: 1px solid #e7eaec;
    }
    .imgpad_all a img{
        background-repeat: no-repeat, repeat-x;
        border: 1px solid #fd7e14;
        border-radius: 8px;
        width: 7em;
        height: auto;
    }

    .imgpad_all a {
       /* float: left; */
       display: inline-block;
       margin: 1%;
    }
    .imgpad_all {
       padding-left: 0;
       margin-top: 30px;
    }
    .adverts{
        margin-bottom: 10px;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 320px !important;
        border-radius: 8px 0px 0px 0px;
    }

    @media screen and (max-width:640px) {
       .loginscreen.middle-box {
        width: 90%;
    } 
    }

    
